# {{ ansible_managed }}
# TYPE  DATABASE        USER            CIDR-ADDRESS            METHOD
#
# Database administrative login by Unix domain socket
local   all             postgres                                ident


# IPv4 local connections:
host    all             all             127.0.0.1/32            md5
# IPv6 local connections:
host    all             all             ::1/128                 md5

# TYPE  DATABASE        USER            CIDR-ADDRESS            METHOD
 
{% for item in pg_hba_group_access %}
{% for hostname in groups[item.group] |sort %}
host {{ item.db }} {{ item.user }} {{ hostname }} md5 # {{ hostname }}
{% endfor %}
{% endfor %}
