body {
  background: #fff;
  color: #222;
  font-family: 'HelvetivaNeue', Helvetica, Arial, sans-serif;
}

a,
a:visited {
  color: blue;
}

#sidebar_wrapper {
  background: #eee;
}

#sidebar_switch {
  display: none;
}

#sidebar-toggle {
  background: #ddd;
}

#tree .file {
  color: #555;
}

.docs.markdown {
  background: #fff;
}

.docs p code {
  background: #eee;
  border: 0;
  padding: 3px;
}

.dox {
  border-top-color: #aaa;
}

.dox pre,
.dox .highlight,
.dox .details {
  background: none;
  border-color: #eee;
  color: #222;
}
