body {
  background: #6ab06e;
  font-family: 'HelveticaNeue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  transition: all 0.1s ease;
}

#header {
  position: fixed;
  top: -50px;
  left: 0;
  right: 0;
  height: 50px;
  line-height: 50px;
  background: #59a75e;
  transition: all 0.2s ease;
}

#header .logo {
  color: #fff;
  float: left;
  padding: 0 15px;
  font-weight: bold;
}

#header .status {
  color: #fff;
  float: left;
  padding: 0 15px;
}

#nav {
  list-style: none;
  margin: 0;
  float: right;
}

#nav li {
  float: left;
  color: #fff;
}

#nav a {
  padding: 15px;
  color: #fff;
}

#nav a:hover {
  background: #1c6220;
  cursor: pointer;
}

#sidebar {
  background: #f5f5f5;
  position: fixed;
  top: 50px;
  left: -300px;
  bottom: 0;
  width: 300px;
  transition: all 0.2s ease;
}

.padding {
  padding: 0 15px;
}
