{
  "database": {
    "type": "postgres",
    "user": "{{ crypton_db.username }}",
    "password": "{{ crypton_db.password }}",
    "database": "{{ crypton_db.name }}",
    "host": "{{ crypton_db.host }}",
    "port": {{ crypton_db.port }}
  },
    "defaultKeySize": 32,
    "id_translator": {
      "key_file": "/home/crypton_server/id_translator.key"
    },
    "cookieSecretFile": "/home/crypton_server/cookie_secret.key",
    "privateKey": "/etc/nginx/{{ crypton_server_domain }}-wildcard.pem",
    "certificate": "/etc/nginx/{{ crypton_server_domain }}-wildcard.pem",
    "appPath": "/dev/null",
    "port": {{ crypton_server_local_port }},
    "redis": {
      "host": "localhost",
      "port": 6379
    },
  "commitStatusCheckDelay": 100,
  "commitStatusCheckLimit": 100
}
