#!/bin/bash

# {{ ansible_managed }}

SERVICE_USER={{item.usr|default(item.name)}}

cd /home/crypton_server/crypton.git/server
exec chpst -u $SERVICE_USER:$SERVICE_USER:www-data -o 20000 -p 2000 ./bin/cli.js \
    --config /home/$SERVICE_USER/crypton.conf.json 2>&1
