begin;

grant all on account to {{ crypton_db.username }};
grant all on base_keyring to {{ crypton_db.username }};
grant all on commitable_transaction to {{ crypton_db.username }};
grant all on container to {{ crypton_db.username }};
grant all on container_record to {{ crypton_db.username }};
grant all on container_session_key to {{ crypton_db.username }};
grant all on container_session_key_share to {{ crypton_db.username }};
grant all on first_pending_commit_per_avatar to {{ crypton_db.username }};
grant all on message to {{ crypton_db.username }};
grant all on readable_container_records_by_account to {{ crypton_db.username }};
grant all on transaction to {{ crypton_db.username }};
grant all on transaction_add_container to {{ crypton_db.username }};
grant all on transaction_add_container_record to {{ crypton_db.username }};
grant all on transaction_add_container_session_key to {{ crypton_db.username }};
grant all on transaction_add_container_session_key_share to {{ crypton_db.username }};
grant all on transaction_add_message to {{ crypton_db.username }};
grant all on transaction_delete_container to {{ crypton_db.username }};
grant all on transaction_delete_container_session_key_share to {{ crypton_db.username }};
grant all on transaction_delete_message to {{ crypton_db.username }};
grant all on version_identifier to {{ crypton_db.username }};

commit;
